main {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;     
}

section {
  margin-top: 10px;
  text-align: center;
  align-items: center;
}

section img {
  display: block;
  height: auto;
  width: 350px;
  border-radius: 25%;

}